<%- include ('./partials/_header.html') %>
<section>
    <div class="container"> 

        <div class="noticias">
            <h2>Noticias</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quibusdam itaque aperiam voluptas voluptates nobis at quas autem quos recusandae et earum eius, harum soluta sit ipsum nam magnam quis!
        </div>
    </div>

    

    <div class="menu__side" id="menu_side">

        <div class="options__menu">	

            <a href="/src/views/index.html" class="selected">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="/src/views/admin.html">
                <div class="option">
                    <i class="far fa-id-badge" title="Contacto"></i>
                    <h4>Portafolio</h4>
                </div>
            </a>
            
            <a href="#">
                <div class="option">
                    <i class="far fa-id-badge" title="Contacto"></i>
                    <h4>Cursos</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="far fa-id-badge" title="Contacto"></i>
                    <h4>Blog</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="far fa-id-badge" title="Contacto"></i>
                    <h4>Contacto</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="far fa-id-badge" title="Contacto"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

        </div>
    </div>  

</section>    

<aside class="options">
    <div>
        cnn
    </div>
    <div>enkoeno</div>
</aside>

<%- include ('./partials/_footer.html') %>