<%- include ('./partials/_header.html') %>
<section>
    <div class="container">
        <div class="noticias">
            <h2>Noticias</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quibusdam itaque aperiam voluptas voluptates nobis at quas autem quos recusandae et earum eius, harum soluta sit ipsum nam magnam quis!
        </div>
    </div>
    <!-- Aqui va el menu -->
    <%- include('./partials/_menu.html') %>
</section>    

<aside class="options">
    <div>
        cnn
    </div>
    <div>enkoeno</div>
</aside>

<%- include ('./partials/_footer.html') %>