<%- include ('./partials/_header.html') %>

<div class="container">
    
    <div class="menu">
        <h2>Menu</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quibusdam itaque aperiam voluptas voluptates nobis at quas autem quos recusandae et earum eius, harum soluta sit ipsum nam magnam quis!
    </div>

    <div class="noticias">
        <h2>Noticias</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quibusdam itaque aperiam voluptas voluptates nobis at quas autem quos recusandae et earum eius, harum soluta sit ipsum nam magnam quis!
    </div>

    <div class="preguntas">
        <h2>Preguntas frecuentes</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quibusdam itaque aperiam voluptas voluptates nobis at quas autem quos recusandae et earum eius, harum soluta sit ipsum nam magnam quis!
    </div>
    
    
</div>

<%- include ('./partials/_footer.html') %>