<%- include ('./partials/_header.html') %>
<!-- Aqui va el menu -->
<%- include('./partials/_menu.html') %>
<div class="contenedor__principal"> 
    <div class="seccion__noticias">
        <a class="twitter-timeline" href="https://twitter.com/_cecyt9?ref_src=twsrc%5Etfw">Tweets por _cecyt9</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <aside>
        <div>
            DIV 1
        </div>
        <div>
            DIV 2
        </div>
    </aside>
</div>
<%- include ('./partials/_footer.html') %>