<%- include ('./partials/_header.html') %>    
    <form action="" class="formulario">
        <h2>Iniciar sesión</h2>
        <input type="text" placeholder="Usuario">
        <input type="password" placeholder="Contraseña">
        <button type="submit">Iniciar sesión</button>
        <button type="submit">Gestión Escolar</button>
        <a href="/admin">
            <button type="submit">Administrador</button>
        </a>
        <a href="/registro">No tengo una cuenta</a>
    </form>    
<%- include ('./partials/_footer.html') %>