<div class="menu__side" id="menu_side">
    <div class="options__menu">
        <a href="/" class="selected">
            <div class="option">
                <i class="fas fa-home" title="Inicio"></i>
                <h4>Inicio</h4>
            </div>
        </a>
        <a href="/portafolio">
            <div class="option">
                <i class="far fa-id-badge" title="Portafolio"></i>
                <h4>Portafolio</h4>
            </div>
        </a>
        <a href="/contacto">
            <div class="option">
                <i class="far fa-id-badge" title="Contacto"></i>
                <h4>Cursos</h4>
            </div>
        </a>
        <a href="/contacto">
            <div class="option">
                <i class="far fa-id-badge" title="Contacto"></i>
                <h4>Blog</h4>
            </div>
        </a>
        <a href="#">
            <div class="option">
                <i class="far fa-id-badge" title="Contacto"></i>
                <h4>Contacto</h4>
            </div>
        </a>
        <a href="/nosotros">
            <div class="option">
                <i class="far fa-id-badge" title="Contacto"></i>
                <h4>Nosotros</h4>
            </div>
        </a>
    </div>
</div>